<script type="text/javascript">
 /**
  * @module name 上传客户数据
  * @module desc 
  * @author  wxl
  * @create  date 20150808
  * @modify  man ***
  * @modify  date ***
  */
Ext.namespace('CustomerDataMng', 'CustomerDataMng.uploadCustomerDataMng');


 //create application
CustomerDataMng.uploadCustomerDataMng = function() {
   // do NOT access DOM from here; elements don't exist yet

   //此处定义私有属性变量
   //var dragZone1, dragZone2;

   //此处定义私有方法

   //共有区
   return {
       //此处定义共有属性变量
       

       //共有方法
       init: function() {
     	  
           //定义一些初始化行为
    	   //获取id为"docs-文章管理"的面板
    	    var aimobj = Ext.mainScreem.findById('docs-上传客户数据');
    	    var lyobj = new Ext.layout.BorderLayout();//创建面板布局对象
    	    aimobj.setLayout(lyobj);//应用布局对象



    	    //aimobj.add(ArticleMng.articleListMng.catalogTree);//添加目录树面板
    	    aimobj.add(CustomerDataMng.uploadCustomerDataMng.customAddForm);//添加列表面板
    	    //aimobj.add(ArticleMng.articleListMng.gridForm);//添加form
    	    //aimobj.add(ArticleMng.articleListMng.aDgridForm);
    	    aimobj.doLayout();//展示页面
    	    
    	    //加载列表数据
    	    //ArticleMng.articleListMng.store.load();
       }
   };
 }(); // end of app 

 
 
 
 
 
 
 
 
 
 
 
/**
 * 创建目录树对象
 */
 CustomerDataMng.uploadCustomerDataMng.customAddForm = new Ext.FormPanel({
        labelWidth: 75, // label settings here cascade unless overridden
        url:'ad/addAdAction',
        frame:true,
        title: '添加客户',
        region: 'center',
        bodyStyle:'padding:5px 5px 0',
        //width: 350,
        defaults: {width: 230},
        fileUpload:true,
        defaultType: 'textfield',

        items: [/*{
                fieldLabel: '客户编号',
                name: 'customerId',
                allowBlank:false
            },*/
            new Ext.form.ComboBox({
                fieldLabel: '客户编号',
                name: 'customerName',
                hiddenName:'customerId',
			    typeAhead: true,
			    triggerAction: 'all',
			    lazyRender:true,
			    allowBlank:false,
			    mode: 'local',
			    store: new Ext.data.ArrayStore({
			        //id: 0,
			        fields: [
			            'myId',
			            'displayText'
			        ],
			        data: [[2, '梦岛小说网'],[3, '今晚网'],[4, '第一视频'],[5, ' 天涯'],[6, ' 星岛环球网'],[7, 'IT168'],[8, '泡泡网'],[9, '米胖旅游网'],[10, '太平洋女性'],[11, '太平洋电脑'],[12, '太平洋游戏'],[13, '太平洋汽车'],[14, '播视网'],[15, '妆品网'],[16, '荆楚网'],[17, '华数TV网'],[18, '新蓝网'],[19, '视友网']]
			    }),
			    valueField: 'myId',
			    displayField: 'displayText'
			}),{
          	xtype:'fileuploadfield',
        	name:'file',
        	id:'file',
        	fieldLabel: '上传数据',
        	buttonText: '选择文件'
            }
        ]
});


 CustomerDataMng.uploadCustomerDataMng.customAddForm.addButton({
        text: 'Submit',
        disabled:false,
        handler: function(){
            CustomerDataMng.uploadCustomerDataMng.customAddForm.getForm().submit(
                {url:'ad/uploadCustemFileAction', 
                success:function(response,action){
                   //for(var a in recieveData){
                   //alert(action.response.info);
                   Ext.Msg.alert('系统提示',action.result.info);
                   //}
                   
                },
                failure:function(){
                alert('上传失败');
                },
                waitMsg:'保存中...', 
                submitEmptyText: false}
            );
        }
    });


Ext.onReady(CustomerDataMng.uploadCustomerDataMng.init, CustomerDataMng.uploadCustomerDataMng);
</script>