<script type="text/javascript">
 /**
  * @module name 用户管理
  * @module desc 用户的添加和删除
  * @author  wxl
  * @create  date 20151227
  * @modify  man ***
  * @modify  date ***
  */
  Ext.namespace('UserMng', 'UserMng.UserObj');


 //create application
 UserMng.UserObj = function() {
   // do NOT access DOM from here; elements don't exist yet

   //此处定义私有属性变量
   //此处定义私有方法
/**
 * 创建目录树对象
 */
var catalogTree = new Ext.tree.TreePanel({
	    //renderTo: 'tree-div',
	    title:'目录树',
	    useArrows: true,
	    autoScroll: true,
	    animate: true,
	    region: 'west',
	    //enableDD: true,
	    containerScroll: true,
	    width : 180,
	    border: true,
	    // auto create TreeLoader
	    loader: new Ext.tree.TreeLoader({dataUrl:'showCatalogTree'}),//请求的url地址
	    tools : [{
			id : 'refresh',
			handler : function() {
				catalogTree.root.reload()
			}
		}],
	    //dataUrl: '',
	    root: {
	        nodeType: 'async',
	        text: '目录树',
	        draggable: false,
	        id: '0000'
	    }
	});
//添加目录树节点点击事件，添加别的事件也是这种方式，以此类推
catalogTree.on('click', function(node,e) {
		e.stopEvent();
		node.expand();
		deptid = node.attributes.id;
		UserMng.UserObj.store.load({
					params : {
						start : 0,
						limit : 10,
						catalogId : deptid
					}
				});
	});
   

//数据集加载对象，给grid用的
var gridStore = new Ext.data.JsonStore({
        root: 'data',
        totalProperty: 'pageInfo.totalRowNum',
        //idProperty: 'threadid',
        remoteSort: true,
        fields: [
            'id', 'userName', 'gmtCreate', 'gmtModify','email','phoneNo'
        ],
        url: 'sys/queryUserList'
    });

    //添加grid 数据加载前事件
gridStore.on("beforeload",function (selfstore){
    	//将form面板的查询参数  封装成  store 能接受的对象
    	var tmpCnf = Ext.urlDecode(Ext.Ajax.serializeForm(searchPanel.getForm().getEl()));
    	tmpCnf.start = 0;//从哪一条记录开始
    	tmpCnf.limit = 10;//查询条数
    	selfstore.baseParams=tmpCnf;

    });

//表单查询条件面板
var searchPanel =new Ext.FormPanel({
     	height:35,
     	frame:false,
     	border:true,
     	layout:"hbox",
     	layoutConfig:{padding:"5",align:"middle"},
     	defaults:{xtype:"label",border:false,margins:{top:0,right:4,bottom:4,left:4}},
     	          items:[{text:"用户编号"},{xtype:"textfield",name:"userId",value:''},
     	                 {text:"用户名称"},{xtype:"textfield",name:"userName",value:''},
     	                 {text:"创建时间:从"},{xtype:"datefield",format:"Y-m-d",name:"Q_accessionTime_D_GT"},
     	                 {text:"至"},{xtype:"datefield",format:"Y-m-d",name:"Q_accessionTime_D_LT"},
     	                 {xtype:"button",text:"查询",iconCls:"search",scope:this,handler:function (){
     	                	gridStore.load();
     	                   }}
     	                  ,{xtype:"button",text:"删除",scope:this,handler:function (){
							var sm = mygrid.getSelectionModel();
							var array = sm.getSelections();//records
							var idstr ="";
							for(var i =0;i < array.length;i++){
							   idstr =idstr+array[i].get('id')+",";
							}
							if(idstr.length > 0){
							   idstr = idstr.substr(0,idstr.length-1);
							}else{
							    Ext.Msg.alert('系统提示','请选择要删除的数据');
							    return false;
							}
							Ext.Msg.confirm('系统提示', '你确定删除吗？', function(btn, text){
							    if (btn == 'yes'){
							    	doDel(idstr);
							    }
							});
							}
     	        	       
     	        	       }
     	                 ]});


var sm = new Ext.grid.CheckboxSelectionModel({
	listeners:{
			     rowselect :function(selectmodel,rowIndex,record) {
			     }
			}
	});
//创建一个列表面板
var mygrid = new Ext.grid.GridPanel({
        //width:700,
        //height:500,
        //autoHeight: true,
        //title:'分页演示',
        tbar:[{
        	text:'添加用户',
            id:'add_product',
            iconCls:'silk-add',
            handler:function (){
            	//Ext.mainScreem.loadClass('showAddProductPage','添加产品',null);
            	showWin(this.getEl());
            	//Ext.mainScreem.addNewTab( Ext.getmifObj({id:'添加产品',title:'添加产品',src:'showAddProductPageIframe'}),'添加产品');
            }
        }],
        listeners:{
            'render':function () {
            	searchPanel.render(this.tbar);
            }
        },
        store:  gridStore,
        closable:true,
        trackMouseOver:true,
        disableSelection:true,
        region : 'center',
        loadMask: true,
        sm: sm,
        columns:[sm
                 ,{
            header: "编号",
            dataIndex: 'id',
            width: 50,
            sortable: true
        },{
            header: "用户名称",
            dataIndex: 'userName',
            width: 100,
            sortable: true
        },{            
            header: "邮箱",
            dataIndex: 'email',
            width: 150,
            sortable: true
        },{            
            header: "手机号",
            dataIndex: 'phoneNo',
            width: 150,
            sortable: true
        },{
            header: "创建时间",
            dataIndex: 'gmtCreate',
            width: 100,
            //align: 'right',
            sortable: true
        },{
            id: '修改日期',
            header: "修改日期",
            dataIndex: 'gmtModify',
            width: 100,
            //align: 'right',
            //renderer: renderLast,
            sortable: true
        }],

        // customize view config
        viewConfig: {
            forceFit:true,
            enableRowBody:false,
            showPreview:false,
            getRowClass : function(record, rowIndex, p, store){
                if(this.showPreview){
                    p.body = '<p>'+record.data.cnt_id+'</p>';
                    return 'x-grid3-row-expanded';
                }
                return 'x-grid3-row-collapsed';
            }
        },

        // paging bar on the bottom
        bbar: new Ext.PagingToolbar({
            pageSize: 10,
            store:  gridStore,
            displayInfo: true,
            displayMsg: 'Displaying topics {0} - {1} of {2}',
            emptyMsg: "No topics to display",
            items:[
                '-', {
                pressed: false,
                enableToggle:true,
                //text: 'Show Preview',
                cls: 'x-btn-text-icon details',
                toggleHandler: function(btn, pressed){
                    //var view = mygrid.getView();
                    //view.showPreview = pressed;
                    //view.refresh();
                }
            }]
        })
    });


/*添加图片窗口*/
var addwindobj = null;
var addImageWin = function(config){
	this.config = config;
}

var showWin = function(){
	if(addwindobj == null || addwindobj == undefined){
		addwindobj = new addImageWin();
	}
	addwindobj.show();
}

addImageWin.prototype = {
		
		
		show : function(el, callback){
			if(!this.win){
				
				this.fsf = new Ext.FormPanel({
				    labelWidth: 75, // label settings here cascade unless overridden
				    url:'sys/addUser',
				    frame:false,
				    title: '',
				    region: 'center',
				    fileUpload:true,
				    bodyStyle:'padding:5px 5px 5px 5px',
				    width: 500,

				    items: [{
				        xtype:'fieldset',
				        title: ' ',
				        collapsible: true,
				        autoHeight:true,
				        defaults: {width: 210},
				        items :[{
				        	    xtype: 'textfield',
				                fieldLabel: '登录名',
				                hidden:false,
				                name: 'userName',
				                allowBlank: false,
				                value: ''
				            },{
				            	xtype: 'textfield',
				                fieldLabel: '登录密码',
				                inputType: 'password',
				                allowBlank: false,
				                name: 'userPwd'
				            },{
				            	xtype: 'textfield',
				                fieldLabel: '邮箱',
				                name: 'Email'
				            },{
				            	xtype: 'textfield',
				                fieldLabel: '备注',
				                name: 'userDesc'
				            },{
				            	xtype:'textfield',
				            	name:'phoneNo',
				            	fieldLabel: '手机号'
				            }
				        ]
				    }]
				});
				
				
				var cfg = {
				    	title: '添加用户',
				    	layout: 'border',
						width: 500,
						height: 300,
						modal: true,
						closeAction: 'hide',
						border: false,
						items:[this.fsf],
						buttons: [{
							text: '确定',
							handler: this.submitForm,
							scope: this
						},{
							text: '取消',
							handler: function(){ this.win.hide(); },
							scope: this
						}],
						keys: {
							key: 27, // Esc key
							handler: function(){ this.win.hide(); },
							scope: this
						}
					};
					Ext.apply(cfg, this.config);
				    this.win = new Ext.Window(cfg);
				
			}
			this.reset();
		    this.win.show(el);
			this.callback = callback;
			this.animateTarget = el;
		},
		reset:function(){
			;
		},
		doCallback:function(){
			alert("");
		},
		submitForm:function(){
			if(this.fsf.getForm().isValid()){
			this.fsf.getForm().submit({
                url: 'sys/addUser',
                waitMsg: '正在上传请稍等...',
                success: function(fp, o){
                	//alert('ok');
                    //msg('Success', 'Processed file "'+o.result.file+'" on the server');
                	Ext.Msg.alert('Status', '操作成功');
                	//Ext.example.msg('系统提示', '操作成功');
                	gridStore.reload();
                },
                failure :function(fm,rp){
                	Ext.Msg.alert('Status', '操作异常，请联系管理员.');
                }
            });
			}
		}
		
		
}

var doDel = function(id){
	/**/
	Ext.Ajax.request({
		   url: 'sys/delUser',
		   method:'post',
		   success: function(response, opts) {
			      var obj = Ext.decode(response.responseText);
			      //if(obj.success == true){
			      gridStore.reload();
			      Ext.Msg.alert('系统提示',obj.info);
			      //}
		   },
		   failure: function(response, opts) {
			   Ext.Msg.alert('系统提示', '操作失败！');
		   },
		   params: {'userId': id }
		});
}


   //共有区
   return {
       //此处定义共有属性变量
       

       //共有方法
       init: function() {
     	  
           //定义一些初始化行为
    	   //获取id为"docs-文章管理"的面板
    	    var aimobj = Ext.mainScreem.findById('docs-系统用户');
    	    var lyobj = new Ext.layout.BorderLayout();//创建面板布局对象
    	    aimobj.setLayout(lyobj);//应用布局对象



    	    //aimobj.add(UserMng.UserObj.catalogTree);//添加目录树面板
    	    aimobj.add(mygrid);//添加列表面板
    	    aimobj.doLayout();//展示页面
    	    
    	    //加载列表数据
    	    gridStore.load();
    	    
    	    //当用户关闭页签后删除对象
            aimobj.addListener("destroy",function(){
               Ext.destroy(mygrid);
            });
       }
   };
 }(); // end of app 

    
    //发布文章
    function doEditorCnt(id){
    	/**/
    	var editerurl ='showEditorProductPage?productId='+id;
    	Ext.mainScreem.loadClass(editerurl,"修改产品",null);
    }
    //发布文章
    function doDelCnt(id){
    	/**/
    	Ext.Ajax.request({
    		   url: 'delProductAction?productId='+id,
    		   method:'post',
    		   success: function(response, opts) {
    			      //var obj = Ext.decode(response.responseText);
    			      //alert(response.responseText);
    			      Ext.Msg.alert('系统提示', response.responseText);
    		   },
    		   failure: function(response, opts) {
    			      Ext.Msg.alert('系统提示', '操作失败！');
    		   },
    		   params: { id: id }
    		});
    }
    
Ext.onReady(UserMng.UserObj.init, UserMng.UserObj);
</script>